.container {
  display: flex;
  height: 100vh;
  font-family: Trebuchet MS, sans-serif;
  background-color: black; 
  color: #f6c144; 
  justify-content: center;
}

.left-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: black;
  text-align: left;
  padding-left: 30px;
}


.vertical-bar {
  width: 2px; 
  background-color: #f6c144;
  height: 100vh;
}

.title-container {
  text-align: center;
}

.title {
  font-size: 4rem; 
  font-weight: bold;
  color: #eddb82;
}

.input-box,
.output-box {
  padding: 15px;
  width: 80%;
  font-size: 1.5rem;
  border: 2px solid #f6c144;
  border-radius: 10px;
  text-align: left;
  background-color: black;
  color: #f6c144;
  margin-bottom: 20px;
}




.input-box::placeholder {
  color: #f6c144;
  opacity: 0.7; 
}

.progress-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;  
  width: 80%;
  margin-top: 20px;
}


.progress-bar {
  width: 100%;
  height: 15px;
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #f6c144;
}

.progress-fill {
  height: 100%;
  background-color: #f6c144;
  transition: width 0.5s ease-in-out;
}

.metric-value {
  margin-top: 5px;
  font-size: 1.2rem;
  color: #f6c144;
}

.download-btn {
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px solid #f6c144;
  background-color: black;
  align-items: center;
  color: #f6c144;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.download-btn:hover {
  background-color: #222;
}

.download-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.input-title {
  align-items: center;
  margin-bottom: 10px;
}

img {
  max-width: 500px; 
  height: auto;
  margin-bottom: 20px;
}
